__pycache__/
tmp/
waiting-for-entry/
.vscode/
test/
scripts/
renpy-tl/
libraries/gameText.json
RenPy Workspace/
RPGM Data Input/
RPGM Workspace/
RPGM Workspace/bak/
environment-dev.yml
requirements-dev.txt
config.ini
test.ini
bak_config (明文).ini
api_config (明文).ini
Translated Libraries/gameText.json
