__pycache__/
tmp/
waiting-for-entry/
.vscode/
test/
scripts/
renpy-tl/
libraries/gameText.json
RenPy Workspace/
RPGM Data Input/
RPGM Workspace/bak/
environment-dev.yml
requirements-dev.txt
Game Scripts/
Translated Libraries/gameText.json
2r_tools.egg-info/
build/
RPGM Data Output/
tests/
